In [3]:
import pandas as pd
import sklearn as skl
import numpy as np
import random

pd.options.display.max_columns = None

In [4]:
# teams = pd.read_csv("..\Data\DataFiles\Teams.csv")
# confs = pd.read_csv("..\Data\DataFiles\Conferences.csv")
# ncaa = pd.read_csv("..\Data\DataFiles\\NCAATourneyDetailedResults.csv")
# reg = pd.read_csv("..\Data\DataFiles\RegularSeasonDetailedResults.csv")
seeds = pd.read_csv("../Data/DataFiles/NCAATourneySeeds.csv")
# confTourney = pd.read_csv("..\Data\DataFiles\ConferenceTourneyGames.csv")
# teamConf = pd.read_csv("..\Data\DataFiles\TeamConferences.csv")

FileNotFoundError: [Errno 2] File b'..\\Data\\DataFiles\\Teams.csv' does not exist: b'..\\Data\\DataFiles\\Teams.csv'

In [58]:
regMeans = pd.read_hdf("RegMeans.h5", key="df")

In [59]:
regMeans.head()

,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF,OppScore,Season_TeamID,Season,TeamID
0,57.250000,19.142857,39.785714,7.821429,20.821429,11.142857,17.107143,4.178571,16.821429,13.000000,11.428571,5.964286,1.785714,18.750000,57.000000,2003 1102,2003,1102
1,78.777778,27.148148,55.851852,5.444444,16.074074,19.037037,25.851852,9.777778,19.925926,15.222222,12.629630,7.259259,2.333333,19.851852,78.148148,2003 1103,2003,1103
2,69.285714,24.035714,57.178571,6.357143,19.857143,14.857143,20.928571,13.571429,23.928571,12.107143,13.285714,6.607143,3.785714,18.035714,65.000000,2003 1104,2003,1104
3,71.769231,24.384615,61.615385,7.576923,20.769231,15.423077,21.846154,13.500000,23.115385,14.538462,18.653846,9.307692,2.076923,20.230769,76.653846,2003 1105,2003,1105
4,63.607143,23.428571,55.285714,6.107143,17.642857,10.642857,16.464286,12.285714,23.857143,11.678571,17.035714,8.357143,3.142857,18.178571,63.750000,2003 1106,2003,1106

In [60]:
seeds.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [61]:
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('W', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('X', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('Y', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('Z', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('a', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('b', ""), axis=1)

In [1]:
seeds.info()

NameError: name 'seeds' is not defined

In [63]:
regMeans['Season'], regMeans['TeamID'] = regMeans['Season_TeamID'].str.split(' ', 1).str

In [64]:
regMeans.head()

,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF,OppScore,Season_TeamID,Season,TeamID
0,57.250000,19.142857,39.785714,7.821429,20.821429,11.142857,17.107143,4.178571,16.821429,13.000000,11.428571,5.964286,1.785714,18.750000,57.000000,2003 1102,2003,1102
1,78.777778,27.148148,55.851852,5.444444,16.074074,19.037037,25.851852,9.777778,19.925926,15.222222,12.629630,7.259259,2.333333,19.851852,78.148148,2003 1103,2003,1103
2,69.285714,24.035714,57.178571,6.357143,19.857143,14.857143,20.928571,13.571429,23.928571,12.107143,13.285714,6.607143,3.785714,18.035714,65.000000,2003 1104,2003,1104
3,71.769231,24.384615,61.615385,7.576923,20.769231,15.423077,21.846154,13.500000,23.115385,14.538462,18.653846,9.307692,2.076923,20.230769,76.653846,2003 1105,2003,1105
4,63.607143,23.428571,55.285714,6.107143,17.642857,10.642857,16.464286,12.285714,23.857143,11.678571,17.035714,8.357143,3.142857,18.178571,63.750000,2003 1106,2003,1106

In [65]:
seeds['TeamID'] = seeds['TeamID'].astype(str)
seeds['Season'] = seeds['Season'].astype(str)
pd.merge(regMeans, seeds, on=['Season','TeamID'])

,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF,OppScore,Season_TeamID,Season,TeamID,Seed
0,69.285714,24.035714,57.178571,6.357143,19.857143,14.857143,20.928571,13.571429,23.928571,12.107143,13.285714,6.607143,3.785714,18.035714,65.000000,2003 1104,2003,1104,10
1,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,2003,1112,01
2,75.965517,27.206897,56.896552,4.000000,12.586207,17.551724,26.206897,13.689655,23.310345,15.551724,14.000000,5.206897,4.241379,19.413793,69.172414,2003 1113,2003,1113,10
3,70.100000,25.700000,54.700000,5.633333,16.333333,13.066667,19.733333,11.933333,22.566667,13.400000,15.900000,8.033333,4.966667,16.366667,65.566667,2003 1120,2003,1120,10
4,69.703704,23.555556,52.074074,6.000000,17.185185,16.592593,24.000000,10.629630,24.222222,13.407407,15.222222,7.037037,4.666667,18.666667,67.703704,2003 1122,2003,1122,13
5,68.586207,24.068966,50.655172,8.482759,21.862069,11.965517,16.551724,7.827586,20.379310,12.965517,10.413793,6.344828,1.862069,16.068966,60.931034,2003 1139,2003,1139,12
6,72.451613,24.032258,51.258065,6.193548,16.129032,18.193548,24.161290,10.870968,24.419355,13.419355,13.741935,6.935484,2.516129,21.419355,63.677419,2003 1140,2003,1140,12
7,79.344828,26.620690,52.689655,6.827586,17.931034,19.275862,25.172414,10.586207,23.275862,15.620690,18.241379,7.103448,4.000000,20.965517,73.241379,2003 1141,2003,1141,11
8,74.482759,27.344828,58.724138,6.413793,17.034483,13.379310,19.517241,11.241379,24.379310,16.000000,14.172414,6.551724,2.793103,17.103448,69.758621,2003 1143,2003,1143,08
9,67.321429,22.892857,56.678571,6.678571,19.500000,14.857143,21.535714,12.142857,23.392857,12.285714,10.607143,5.178571,4.250000,18.964286,61.500000,2003 1153,2003,1153,08
10,75.516129,27.193548,61.322581,4.967742,15.258065,16.161290,23.935484,14.483871,27.967742,13.387097,14.000000,6.129032,6.645161,17.709677,70.064516,2003 1160,2003,1160,10
11,74.000000,26.400000,52.100000,4.200000,11.566667,17.000000,24.266667,10.800000,23.466667,15.500000,16.133333,5.333333,4.233333,20.566667,72.666667,2003 1161,2003,1161,14
12,80.033333,29.533333,62.200000,6.066667,15.700000,14.900000,22.100000,14.766667,27.900000,15.633333,15.800000,5.933333,7.733333,18.400000,71.400000,2003 1163,2003,1163,05
13,79.242424,28.696970,57.454545,7.969697,20.484848,13.878788,20.030303,10.878788,23.181818,16.818182,13.363636,8.393939,4.454545,17.272727,64.333333,2003 1166,2003,1166,06
14,72.793103,24.482759,54.206897,7.517241,20.862069,16.310345,22.793103,13.482759,23.172414,15.206897,13.310345,5.379310,2.931034,17.586207,66.310345,2003 1173,2003,1173,04
15,81.966667,27.366667,60.333333,7.333333,20.600000,19.900000,28.066667,13.766667,23.100000,13.833333,14.033333,8.500000,5.133333,21.266667,70.400000,2003 1181,2003,1181,03
16,79.703704,28.074074,61.407407,5.222222,15.185185,18.333333,24.814815,14.000000,24.037037,14.037037,18.740741,10.703704,5.259259,19.518519,77.481481,2003 1190,2003,1190,15
17,75.903226,26.935484,56.516129,8.677419,22.129032,13.354839,18.935484,10.806452,24.258065,16.419355,13.387097,7.774194,4.096774,16.903226,64.677419,2003 1196,2003,1196,02
18,77.064516,26.064516,55.451613,7.161290,19.064516,17.774194,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,68.193548,2003 1211,2003,1211,09
19,69.344828,24.206897,52.724138,5.310345,14.758621,15.620690,22.137931,12.068966,24.310345,15.413793,13.931034,7.965517,4.482759,18.379310,58.206897,2003 1221,2003,1221,14
20,75.433333,27.100000,55.800000,7.433333,20.166667,13.800000,19.100000,9.733333,25.400000,18.266667,13.166667,7.000000,3.100000,19.133333,61.400000,2003 1228,2003,1228,04
21,70.531250,23.437500,54.937500,7.531250,21.625000,16.125000,22.625000,11.218750,25.625000,13.812500,11.500000,4.437500,5.343750,18.062500,67.000000,2003 1231,2003,1231,07
22,71.250000,24.437500,53.937500,6.500000,18.593750,15.875000,22.625000,11.687500,20.906250,13.375000,15.906250,8.187500,1.812500,19.343750,70.406250,2003 1237,2003,1237,16
23,81.333333,30.233333,62.300000,4.800000,14.133333,16.066667,24.133333,14.300000,26.900000,16.733333,14.900000,10.133333,4.900000,16.700000,66.366667,2003 1242,2003,1242,02
24,77.531250,28.468750,58.406250,5.906250,16.593750,14.687500,20.781250,12.875000,24.156250,16.187500,14.062500,7.812500,5.093750,17.375000,64.093750,2003 1246,2003,1246,01
25,81.833333,27.966667,60.833333,8.433333,23.400000,17.466667,25.100000,13.200000,25.100000,16.600000,13.366667,7.200000,4.733333,22.666667,68.466667,2003 1257,2003,1257,04
26,73.225806,26.806452,55.064516,6.741935,17.580645,12.870968,19.870968,10.612903,24.516129,16.387097,13.870968,8.000000,4.161290,16.354839,62.903226,2003 1261,2003,1261,08
27,76.172414,25.931034,57.551724,5.517241,15.827586,18.793103,23.896552,11.310345,23.310345,13.862069,14.206897,9.172414,3.896552,21.931034,67.758621,2003 1264,2003,1264,14
28,78.392857,27.214286,56.250000,5.785714,15.250000,18.178571,23.607143,13.107143,24.071429,16.321429,13.571429,6.000000,3.642857,18.642857,67.678571,2003 1266,2003,1266,03
29,80.785714,29.428571,63.357143,6.750000,16.964286,15.178571,21.571429,13.750000,26.750000,18.892857,14.107143,10.892857,6.607143,19.000000,66.857143,2003 1268,2003,1268,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,78.000000,27.558824,59.794118,9.411765,24.411765,13.470588,16.852941,9.323529,24.441176,16.000000,9.441176,7.176471,3.764706,14.852941,69.205882,2017 1323,2017,1323,05
967,85.032258,28.806452,61.935484,9.000000,22.354839,18.419355,23.419355,13.645161,23.096774,14.677419,13.290323,7.741935,3.000000,22.258065,77.806452,2017 1329,2017,1329,10
968,78.666667,27.969697,58.060606,8.606061,22.727273,14.121212,20.000000,10.272727,25.636364,16.333333,11.727273,6.545455,6.545455,16.303030,65.363636,2017 1332,2017,1332,03
969,70.821429,25.285714,56.535714,9.892857,25.964286,10.357143,14.071429,8.107143,24.357143,13.821429,9.892857,6.785714,3.178571,16.250000,62.035714,2017 1343,2017,1343,12
970,70.250000,24.343750,54.500000,7.187500,19.531250,14.375000,20.812500,8.968750,24.562500,14.187500,12.593750,6.718750,3.000000,17.125000,66.625000,2017 1344,2017,1344,11
971,80.125000,27.937500,58.250000,9.000000,22.156250,15.250000,19.968750,9.843750,28.093750,18.125000,13.093750,5.218750,2.500000,15.750000,67.156250,2017 1345,2017,1345,04
972,73.363636,26.060606,57.606061,6.272727,18.454545,14.969697,22.787879,11.878788,25.545455,13.424242,11.212121,6.363636,6.090909,20.878788,64.878788,2017 1348,2017,1348,11
973,77.093750,25.250000,55.531250,9.218750,25.531250,17.375000,22.562500,9.062500,25.687500,13.031250,12.843750,5.093750,2.250000,17.062500,78.156250,2017 1355,2017,1355,16
974,73.312500,26.437500,58.718750,6.125000,18.125000,14.312500,22.250000,13.062500,26.500000,12.312500,13.562500,6.937500,2.468750,18.593750,70.187500,2017 1371,2017,1371,09
975,74.529412,26.176471,55.264706,8.147059,20.058824,14.029412,20.176471,11.941176,26.411765,16.352941,10.852941,5.735294,3.441176,14.411765,59.823529,2017 1374,2017,1374,06
976,71.483871,24.258065,59.064516,6.645161,19.903226,16.322581,23.612903,12.516129,23.483871,12.419355,13.419355,7.903226,3.677419,20.935484,64.548387,2017 1376,2017,1376,07
977,72.000000,26.312500,53.062500,8.812500,22.062500,10.562500,14.125000,9.625000,26.000000,16.750000,10.531250,4.156250,3.187500,14.750000,56.500000,2017 1388,2017,1388,07
978,75.735294,25.441176,57.029412,8.147059,23.000000,16.705882,23.147059,10.647059,25.088235,12.235294,12.235294,5.882353,3.382353,17.588235,72.117647,2017 1407,2017,1407,15
979,74.382353,24.823529,57.558824,5.823529,19.647059,18.911765,25.764706,11.617647,23.647059,11.823529,11.588235,7.205882,3.147059,17.352941,71.794118,2017 1411,2017,1411,16
980,69.375000,24.062500,55.687500,6.125000,17.468750,15.125000,22.875000,10.218750,25.218750,12.500000,14.187500,5.562500,3.500000,19.687500,68.875000,2017 1413,2017,1413,16
981,90.363636,33.727273,64.969697,9.909091,24.454545,13.000000,17.454545,9.757576,29.454545,21.484848,11.545455,6.121212,5.393939,16.454545,75.333333,2017 1417,2017,1417,03
982,83.125000,30.093750,63.125000,9.500000,26.406250,13.437500,19.500000,11.812500,23.125000,15.656250,9.781250,6.500000,3.437500,19.875000,74.093750,2017 1423,2017,1423,12
983,78.696970,27.181818,59.909091,7.848485,21.606061,16.484848,22.303030,10.787879,25.303030,15.303030,11.151515,7.242424,5.424242,15.909091,73.181818,2017 1425,2017,1425,11
984,74.676471,26.941176,58.382353,5.794118,17.323529,15.000000,21.205882,11.029412,25.617647,15.264706,12.529412,7.529412,3.941176,20.529412,66.411765,2017 1433,2017,1433,10
985,71.264706,23.352941,54.147059,9.911765,26.323529,14.647059,18.882353,8.205882,26.441176,12.970588,12.352941,4.117647,3.764706,16.617647,68.147059,2017 1435,2017,1435,09
986,73.393939,26.939394,54.242424,6.272727,17.090909,13.242424,18.909091,9.181818,24.424242,13.242424,11.151515,5.575758,4.454545,16.090909,62.848485,2017 1436,2017,1436,13
987,77.676471,26.852941,54.029412,8.823529,23.823529,15.147059,19.088235,8.558824,24.794118,14.294118,11.205882,7.235294,3.088235,14.205882,62.794118,2017 1437,2017,1437,01
988,66.593750,24.906250,53.656250,7.000000,17.812500,9.781250,13.812500,8.812500,24.125000,14.250000,9.531250,5.656250,4.062500,16.250000,55.625000,2017 1438,2017,1438,05
989,79.250000,27.000000,55.125000,8.843750,21.968750,16.406250,22.343750,7.312500,25.218750,15.093750,12.125000,4.000000,2.781250,16.406250,74.406250,2017 1439,2017,1439,09
990,82.656250,28.062500,59.437500,8.093750,20.937500,18.437500,23.875000,10.687500,26.062500,15.562500,11.812500,5.468750,3.750000,20.093750,77.906250,2017 1448,2017,1448,11
991,81.970588,29.000000,63.323529,7.558824,20.911765,16.411765,24.205882,14.323529,22.970588,16.735294,12.264706,10.382353,4.676471,20.558824,66.323529,2017 1452,2017,1452,04
992,81.909091,27.787879,58.939394,8.727273,21.424242,17.606061,24.000000,11.909091,28.848485,16.424242,11.121212,6.757576,3.787879,18.848485,62.606061,2017 1455,2017,1455,10
993,79.300000,26.600000,58.566667,9.700000,25.533333,16.400000,22.800000,9.500000,27.500000,12.866667,13.100000,6.133333,5.300000,18.566667,71.200000,2017 1457,2017,1457,13
994,71.941176,26.205882,58.000000,7.558824,21.264706,11.970588,18.588235,12.352941,24.970588,13.529412,10.970588,6.882353,3.558824,15.735294,61.411765,2017 1458,2017,1458,08
995,74.617647,25.764706,56.735294,7.029412,20.676471,16.058824,23.352941,12.205882,25.382353,14.852941,12.794118,6.147059,2.676471,18.764706,71.352941,2017 1462,2017,1462,11

In [66]:
regMeans.drop(columns=['TeamID', 'Season'], axis=1)

,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF,OppScore,Season_TeamID
0,57.250000,19.142857,39.785714,7.821429,20.821429,11.142857,17.107143,4.178571,16.821429,13.000000,11.428571,5.964286,1.785714,18.750000,57.000000,2003 1102
1,78.777778,27.148148,55.851852,5.444444,16.074074,19.037037,25.851852,9.777778,19.925926,15.222222,12.629630,7.259259,2.333333,19.851852,78.148148,2003 1103
2,69.285714,24.035714,57.178571,6.357143,19.857143,14.857143,20.928571,13.571429,23.928571,12.107143,13.285714,6.607143,3.785714,18.035714,65.000000,2003 1104
3,71.769231,24.384615,61.615385,7.576923,20.769231,15.423077,21.846154,13.500000,23.115385,14.538462,18.653846,9.307692,2.076923,20.230769,76.653846,2003 1105
4,63.607143,23.428571,55.285714,6.107143,17.642857,10.642857,16.464286,12.285714,23.857143,11.678571,17.035714,8.357143,3.142857,18.178571,63.750000,2003 1106
5,65.928571,24.035714,57.464286,7.928571,22.178571,9.928571,13.535714,8.250000,20.250000,11.928571,12.571429,6.857143,2.035714,15.892857,75.714286,2003 1107
6,69.090909,24.939394,58.727273,5.212121,16.333333,14.000000,20.939394,13.121212,23.212121,13.848485,18.454545,8.181818,3.515152,19.666667,73.121212,2003 1108
7,66.366667,23.166667,53.533333,8.766667,23.133333,11.266667,16.533333,10.000000,23.133333,14.233333,13.166667,6.400000,1.733333,18.133333,61.900000,2003 1110
8,83.269231,28.615385,64.500000,7.192308,21.961538,18.846154,26.192308,13.000000,25.307692,15.230769,16.192308,9.846154,4.615385,18.692308,81.730769,2003 1111
9,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112
10,75.965517,27.206897,56.896552,4.000000,12.586207,17.551724,26.206897,13.689655,23.310345,15.551724,14.000000,5.206897,4.241379,19.413793,69.172414,2003 1113
11,70.035714,23.857143,53.214286,6.785714,18.285714,15.535714,22.428571,10.535714,22.857143,11.500000,15.964286,6.607143,2.357143,20.500000,70.071429,2003 1114
12,54.500000,19.250000,54.285714,4.750000,16.857143,11.250000,17.607143,9.964286,21.035714,10.178571,19.107143,7.964286,2.750000,20.250000,74.178571,2003 1115
13,61.642857,21.821429,55.571429,6.071429,19.571429,11.928571,19.571429,14.535714,23.428571,9.821429,16.678571,6.464286,3.535714,20.928571,66.535714,2003 1116
14,71.115385,23.692308,54.692308,7.923077,21.346154,15.807692,21.423077,10.961538,20.384615,11.923077,13.269231,7.153846,1.653846,21.423077,69.807692,2003 1117
15,53.680000,19.600000,47.600000,5.880000,16.520000,8.600000,12.720000,7.920000,21.560000,11.720000,17.360000,5.560000,1.600000,19.320000,67.480000,2003 1119
16,70.100000,25.700000,54.700000,5.633333,16.333333,13.066667,19.733333,11.933333,22.566667,13.400000,15.900000,8.033333,4.966667,16.366667,65.566667,2003 1120
17,69.703704,23.555556,52.074074,6.000000,17.185185,16.592593,24.000000,10.629630,24.222222,13.407407,15.222222,7.037037,4.666667,18.666667,67.703704,2003 1122
18,73.300000,25.933333,60.466667,5.366667,16.666667,16.066667,22.133333,13.166667,21.733333,10.500000,12.833333,5.200000,2.200000,22.866667,76.033333,2003 1123
19,69.000000,23.607143,58.000000,9.071429,26.535714,12.714286,17.535714,11.714286,23.178571,14.214286,13.285714,8.321429,2.964286,15.750000,68.392857,2003 1124
20,72.464286,25.500000,54.750000,8.178571,22.250000,13.285714,18.928571,10.535714,23.642857,16.892857,16.928571,9.071429,1.714286,18.357143,70.714286,2003 1125
21,64.700000,23.100000,55.900000,5.700000,15.933333,12.800000,18.466667,12.300000,20.433333,10.966667,15.866667,8.266667,1.800000,19.433333,72.900000,2003 1126
22,66.555556,24.037037,57.185185,7.666667,21.925926,10.814815,16.000000,11.703704,24.222222,12.703704,15.074074,6.444444,6.481481,18.259259,66.185185,2003 1127
23,67.846154,22.038462,49.769231,7.692308,21.653846,16.076923,22.230769,10.653846,21.461538,13.384615,15.653846,7.884615,3.961538,18.076923,64.692308,2003 1128
24,65.892857,23.071429,56.178571,5.178571,17.392857,14.571429,20.892857,11.178571,21.928571,11.642857,14.392857,6.642857,3.821429,19.500000,66.928571,2003 1129
25,79.655172,27.965517,59.655172,6.000000,17.413793,17.724138,25.655172,13.793103,22.068966,17.000000,13.344828,7.000000,2.896552,18.965517,76.344828,2003 1130
26,68.100000,23.633333,54.900000,6.566667,19.333333,14.266667,19.200000,11.000000,24.400000,13.566667,13.366667,5.700000,3.466667,20.166667,63.266667,2003 1131
27,66.481481,21.222222,48.370370,6.259259,17.111111,17.777778,24.111111,8.666667,22.111111,12.740741,16.666667,7.148148,2.518519,22.185185,70.629630,2003 1132
28,72.310345,24.724138,56.655172,6.379310,17.758621,16.482759,23.413793,11.000000,23.241379,12.551724,14.172414,7.448276,1.689655,20.344828,72.379310,2003 1133
29,73.964286,24.392857,52.857143,6.571429,17.750000,18.607143,25.000000,9.535714,23.357143,14.571429,15.678571,7.642857,3.678571,17.607143,72.071429,2003 1135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100,74.676471,26.941176,58.382353,5.794118,17.323529,15.000000,21.205882,11.029412,25.617647,15.264706,12.529412,7.529412,3.941176,20.529412,66.411765,2017 1433
5101,74.806452,25.677419,57.516129,6.741935,20.129032,16.709677,21.451613,10.483871,27.548387,12.741935,12.838710,6.129032,2.870968,18.935484,68.290323,2017 1434
5102,71.264706,23.352941,54.147059,9.911765,26.323529,14.647059,18.882353,8.205882,26.441176,12.970588,12.352941,4.117647,3.764706,16.617647,68.147059,2017 1435
5103,73.393939,26.939394,54.242424,6.272727,17.090909,13.242424,18.909091,9.181818,24.424242,13.242424,11.151515,5.575758,4.454545,16.090909,62.848485,2017 1436
5104,77.676471,26.852941,54.029412,8.823529,23.823529,15.147059,19.088235,8.558824,24.794118,14.294118,11.205882,7.235294,3.088235,14.205882,62.794118,2017 1437
5105,66.593750,24.906250,53.656250,7.000000,17.812500,9.781250,13.812500,8.812500,24.125000,14.250000,9.531250,5.656250,4.062500,16.250000,55.625000,2017 1438
5106,79.250000,27.000000,55.125000,8.843750,21.968750,16.406250,22.343750,7.312500,25.218750,15.093750,12.125000,4.000000,2.781250,16.406250,74.406250,2017 1439
5107,68.107143,23.928571,58.392857,8.321429,26.000000,11.928571,17.250000,9.821429,22.321429,11.500000,13.214286,6.107143,3.750000,20.000000,80.214286,2017 1440
5108,59.700000,21.866667,57.200000,5.533333,18.200000,10.433333,15.833333,12.066667,23.233333,11.000000,16.000000,5.900000,2.200000,20.800000,74.300000,2017 1441
5109,70.230769,24.576923,57.884615,9.192308,23.769231,11.884615,16.769231,6.807692,26.692308,12.807692,13.307692,4.346154,4.230769,19.846154,78.846154,2017 1442
5110,69.031250,24.281250,55.187500,6.687500,18.906250,13.781250,20.531250,9.437500,25.500000,12.406250,12.125000,4.468750,3.281250,14.843750,71.937500,2017 1443
5111,75.064516,26.838710,59.225806,6.612903,17.290323,14.774194,20.741935,11.064516,24.193548,13.000000,12.387097,5.483871,2.870968,18.645161,75.290323,2017 1444
5112,67.344828,23.931034,56.482759,5.965517,18.379310,13.517241,19.586207,14.379310,24.448276,10.517241,14.068966,4.758621,3.413793,20.586207,66.586207,2017 1447
5113,82.656250,28.062500,59.437500,8.093750,20.937500,18.437500,23.875000,10.687500,26.062500,15.562500,11.812500,5.468750,3.750000,20.093750,77.906250,2017 1448
5114,76.387097,28.193548,62.903226,7.290323,20.612903,12.709677,19.419355,12.935484,24.354839,13.161290,13.709677,6.064516,5.548387,20.258065,81.064516,2017 1449
5115,69.933333,25.800000,56.166667,6.833333,18.666667,11.500000,15.266667,6.466667,25.400000,14.600000,12.600000,4.200000,2.600000,16.233333,76.666667,2017 1450
5116,77.533333,25.833333,53.866667,8.733333,21.700000,17.133333,23.433333,6.666667,24.600000,12.466667,11.566667,5.066667,3.300000,17.966667,74.366667,2017 1451
5117,81.970588,29.000000,63.323529,7.558824,20.911765,16.411765,24.205882,14.323529,22.970588,16.735294,12.264706,10.382353,4.676471,20.558824,66.323529,2017 1452
5118,79.000000,28.068966,64.448276,6.068966,18.931034,16.793103,24.206897,12.310345,28.655172,13.517241,13.827586,7.103448,4.206897,19.827586,78.586207,2017 1453
5119,66.441176,24.294118,55.500000,7.794118,22.323529,10.058824,15.205882,8.235294,22.941176,13.205882,12.000000,4.676471,1.470588,18.117647,71.647059,2017 1454
5120,81.909091,27.787879,58.939394,8.727273,21.424242,17.606061,24.000000,11.909091,28.848485,16.424242,11.121212,6.757576,3.787879,18.848485,62.606061,2017 1455
5121,80.172414,27.931034,57.689655,8.965517,23.724138,15.344828,22.310345,8.517241,27.103448,17.206897,12.551724,4.655172,4.482759,18.586207,79.586207,2017 1456
5122,79.300000,26.600000,58.566667,9.700000,25.533333,16.400000,22.800000,9.500000,27.500000,12.866667,13.100000,6.133333,5.300000,18.566667,71.200000,2017 1457
5123,71.941176,26.205882,58.000000,7.558824,21.264706,11.970588,18.588235,12.352941,24.970588,13.529412,10.970588,6.882353,3.558824,15.735294,61.411765,2017 1458
5124,76.033333,26.200000,58.266667,8.966667,23.366667,14.666667,18.600000,9.666667,23.333333,15.733333,12.166667,5.633333,1.933333,19.200000,75.666667,2017 1459
5125,75.700000,25.266667,56.966667,8.733333,23.500000,16.433333,21.633333,10.133333,24.833333,14.633333,14.700000,5.400000,2.333333,18.766667,74.300000,2017 1460
5126,77.466667,25.466667,59.800000,9.500000,27.833333,17.033333,23.133333,8.466667,29.400000,14.733333,13.666667,5.366667,4.533333,21.800000,76.900000,2017 1461
5127,74.617647,25.764706,56.735294,7.029412,20.676471,16.058824,23.352941,12.205882,25.382353,14.852941,12.794118,6.147059,2.676471,18.764706,71.352941,2017 1462
5128,73.178571,26.035714,56.500000,7.000000,19.714286,14.107143,19.142857,10.428571,25.750000,15.250000,13.250000,5.428571,4.285714,15.857143,70.785714,2017 1463
5129,76.000000,28.625000,65.750000,7.281250,22.187500,11.468750,17.031250,10.468750,25.750000,14.656250,12.031250,5.625000,3.062500,17.218750,83.187500,2017 1464

In [67]:
regMeans.to_hdf("RegMeans.h5", key="df", mode='w')

In [68]:
ncaaGames = pd.read_csv("..\Data\DataFiles\\NCAATourneyCompactResults.csv")

In [69]:
ncaaGames = ncaaGames.drop(columns=['DayNum', 'WScore', 'LScore', 'WLoc', 'NumOT'], axis=1)
ncaaGames.head(10)

   Season  WTeamID  LTeamID
0    1985     1116     1234
1    1985     1120     1345
2    1985     1207     1250
3    1985     1229     1425
4    1985     1242     1325
5    1985     1246     1449
6    1985     1256     1338
7    1985     1260     1233
8    1985     1314     1292
9    1985     1323     1333

In [70]:
def switch_vals(x):
    rand_val = random.randint(0,2)
    if rand_val == 0:
        return [x[0], x[2], x[1], x[2]]
    return [x[0], x[1], x[2], x[2]]

In [71]:
ncaaGames['winner'] = 0
for i in range(len(ncaaGames)):
    ncaaGames.iloc[i] = switch_vals(ncaaGames.iloc[i])
ncaaGames.head(10)

   Season  WTeamID  LTeamID  winner
0    1985     1234     1116    1234
1    1985     1120     1345    1345
2    1985     1207     1250    1250
3    1985     1425     1229    1425
4    1985     1242     1325    1325
5    1985     1449     1246    1449
6    1985     1338     1256    1338
7    1985     1260     1233    1233
8    1985     1314     1292    1292
9    1985     1323     1333    1333

In [72]:
regMeans['Season'], regMeans['TeamID'] = regMeans['Season_TeamID'].str.split(' ', 1).str

In [73]:
regMeans['TeamID'] = regMeans['TeamID'].astype(int)
regMeans['Season'] = regMeans['Season'].astype(int)

In [74]:
regMeans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5130 entries, 0 to 5129
Data columns (total 18 columns):
Score            5130 non-null float64
FGM              5130 non-null float64
FGA              5130 non-null float64
FGM3             5130 non-null float64
FGA3             5130 non-null float64
FTM              5130 non-null float64
FTA              5130 non-null float64
OR               5130 non-null float64
DR               5130 non-null float64
Ast              5130 non-null float64
TO               5130 non-null float64
Stl              5130 non-null float64
Blk              5130 non-null float64
PF               5130 non-null float64
OppScore         5130 non-null float64
Season_TeamID    5130 non-null object
Season           5130 non-null int32
TeamID           5130 non-null int32
dtypes: float64(15), int32(2), object(1)
memory usage: 721.4+ KB

In [75]:
ncaaGames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2117 entries, 0 to 2116
Data columns (total 4 columns):
Season     2117 non-null int64
WTeamID    2117 non-null int64
LTeamID    2117 non-null int64
winner     2117 non-null int64
dtypes: int64(4)
memory usage: 66.2 KB

In [76]:
training_data = pd.merge(ncaaGames,
                         regMeans,
                         left_on=['Season', 'WTeamID'],
                         right_on=['Season','TeamID'],
                         suffixes=('_x', '_y'))

In [77]:
training_data = pd.merge(training_data,
                         regMeans,
                         left_on=['Season', 'LTeamID'],
                         right_on=['Season','TeamID'],
                         suffixes=('_x', '_y'))

In [78]:
training_data.head()

,Season,WTeamID,LTeamID,winner,Score_x,FGM_x,FGA_x,FGM3_x,FGA3_x,FTM_x,FTA_x,OR_x,DR_x,Ast_x,TO_x,Stl_x,Blk_x,PF_x,OppScore_x,Season_TeamID_x,TeamID_x,Score_y,FGM_y,FGA_y,FGM3_y,FGA3_y,FTM_y,FTA_y,OR_y,DR_y,Ast_y,TO_y,Stl_y,Blk_y,PF_y,OppScore_y,Season_TeamID_y,TeamID_y
0,2003,1421,1411,1411,71.206897,24.379310,56.793103,6.482759,18.000000,15.965517,20.931034,12.275862,23.172414,13.034483,16.206897,7.068966,3.000000,19.103448,78.448276,2003 1421,1421,72.800000,24.733333,55.266667,5.933333,18.500000,17.400000,28.066667,13.166667,24.800000,14.200000,15.233333,6.433333,2.233333,18.300000,70.833333,2003 1411,1411
1,2003,1112,1436,1436,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,1112,67.793103,24.827586,55.862069,5.275862,15.482759,12.862069,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,63.137931,2003 1436,1436
2,2003,1112,1211,1211,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,1112,77.064516,26.064516,55.451613,7.161290,19.064516,17.774194,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,68.193548,2003 1211,1211
3,2003,1112,1323,1323,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,1112,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323,1323
4,2003,1454,1323,1454,77.100000,27.266667,57.633333,7.766667,21.800000,14.800000,21.433333,11.533333,23.000000,17.100000,14.866667,8.800000,3.600000,20.133333,69.933333,2003 1454,1454,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323,1323

In [79]:
training_data = training_data.drop(axis=1,
                                   columns=['WTeamID', 'LTeamID', 'TeamID_x',
                                            'TeamID_y', 'Season'])

In [80]:
ncaaGames.head()

   Season  WTeamID  LTeamID  winner
0    1985     1234     1116    1234
1    1985     1120     1345    1345
2    1985     1207     1250    1250
3    1985     1425     1229    1425
4    1985     1242     1325    1325

In [81]:
training_data.head()

,winner,Score_x,FGM_x,FGA_x,FGM3_x,FGA3_x,FTM_x,FTA_x,OR_x,DR_x,Ast_x,TO_x,Stl_x,Blk_x,PF_x,OppScore_x,Season_TeamID_x,Score_y,FGM_y,FGA_y,FGM3_y,FGA3_y,FTM_y,FTA_y,OR_y,DR_y,Ast_y,TO_y,Stl_y,Blk_y,PF_y,OppScore_y,Season_TeamID_y
0,1411,71.206897,24.379310,56.793103,6.482759,18.000000,15.965517,20.931034,12.275862,23.172414,13.034483,16.206897,7.068966,3.000000,19.103448,78.448276,2003 1421,72.800000,24.733333,55.266667,5.933333,18.500000,17.400000,28.066667,13.166667,24.800000,14.200000,15.233333,6.433333,2.233333,18.300000,70.833333,2003 1411
1,1436,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,67.793103,24.827586,55.862069,5.275862,15.482759,12.862069,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,63.137931,2003 1436
2,1211,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,77.064516,26.064516,55.451613,7.161290,19.064516,17.774194,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,68.193548,2003 1211
3,1323,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323
4,1454,77.100000,27.266667,57.633333,7.766667,21.800000,14.800000,21.433333,11.533333,23.000000,17.100000,14.866667,8.800000,3.600000,20.133333,69.933333,2003 1454,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323

In [82]:
training_data.to_hdf("training_data.h5", key="df", mode='w')

In [83]:
teamConf.head()

   Season  TeamID ConfAbbrev
0    1985    1114      a_sun
1    1985    1147      a_sun
2    1985    1204      a_sun
3    1985    1209      a_sun
4    1985    1215      a_sun

In [84]:
training_data['Season_x'], training_data['TeamID_x'] = training_data['Season_TeamID_x'].str.split(' ', 1).str
training_data['Season_y'], training_data['TeamID_y'] = training_data['Season_TeamID_y'].str.split(' ', 1).str

training_data['TeamID_x'] = training_data['TeamID_x'].astype(int)
training_data['Season_y'] = training_data['Season_y'].astype(int)
training_data['TeamID_y'] = training_data['TeamID_y'].astype(int)
training_data['Season_x'] = training_data['Season_x'].astype(int)

In [85]:
training_data.head(10)

,winner,Score_x,FGM_x,FGA_x,FGM3_x,FGA3_x,FTM_x,FTA_x,OR_x,DR_x,Ast_x,TO_x,Stl_x,Blk_x,PF_x,OppScore_x,Season_TeamID_x,Score_y,FGM_y,FGA_y,FGM3_y,FGA3_y,FTM_y,FTA_y,OR_y,DR_y,Ast_y,TO_y,Stl_y,Blk_y,PF_y,OppScore_y,Season_TeamID_y,Season_x,TeamID_x,Season_y,TeamID_y
0,1411,71.206897,24.379310,56.793103,6.482759,18.000000,15.965517,20.931034,12.275862,23.172414,13.034483,16.206897,7.068966,3.000000,19.103448,78.448276,2003 1421,72.800000,24.733333,55.266667,5.933333,18.500000,17.400000,28.066667,13.166667,24.800000,14.200000,15.233333,6.433333,2.233333,18.300000,70.833333,2003 1411,2003,1421,2003,1411
1,1436,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,67.793103,24.827586,55.862069,5.275862,15.482759,12.862069,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,63.137931,2003 1436,2003,1112,2003,1436
2,1211,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,77.064516,26.064516,55.451613,7.161290,19.064516,17.774194,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,68.193548,2003 1211,2003,1112,2003,1211
3,1323,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323,2003,1112,2003,1323
4,1454,77.100000,27.266667,57.633333,7.766667,21.800000,14.800000,21.433333,11.533333,23.000000,17.100000,14.866667,8.800000,3.600000,20.133333,69.933333,2003 1454,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323,2003,1454,2003,1323
5,1272,75.965517,27.206897,56.896552,4.000000,12.586207,17.551724,26.206897,13.689655,23.310345,15.551724,14.000000,5.206897,4.241379,19.413793,69.172414,2003 1113,74.517241,26.275862,60.000000,7.000000,20.068966,14.965517,22.896552,14.068966,25.965517,16.620690,13.793103,7.379310,5.068966,18.758621,65.827586,2003 1272,2003,1113,2003,1272
6,1166,79.344828,26.620690,52.689655,6.827586,17.931034,19.275862,25.172414,10.586207,23.275862,15.620690,18.241379,7.103448,4.000000,20.965517,73.241379,2003 1141,79.242424,28.696970,57.454545,7.969697,20.484848,13.878788,20.030303,10.878788,23.181818,16.818182,13.363636,8.393939,4.454545,17.272727,64.333333,2003 1166,2003,1141,2003,1166
7,1301,74.482759,27.344828,58.724138,6.413793,17.034483,13.379310,19.517241,11.241379,24.379310,16.000000,14.172414,6.551724,2.793103,17.103448,69.758621,2003 1143,72.400000,24.333333,53.333333,7.966667,22.500000,15.766667,20.466667,9.733333,22.033333,14.666667,14.200000,7.766667,3.066667,18.666667,68.000000,2003 1301,2003,1143,2003,1301
8,1140,72.451613,24.032258,51.258065,6.193548,16.129032,18.193548,24.161290,10.870968,24.419355,13.419355,13.741935,6.935484,2.516129,21.419355,63.677419,2003 1140,80.033333,29.533333,62.200000,6.066667,15.700000,14.900000,22.100000,14.766667,27.900000,15.633333,15.800000,5.933333,7.733333,18.400000,71.400000,2003 1163,2003,1140,2003,1163
9,1163,78.857143,28.000000,62.428571,5.857143,16.785714,17.000000,23.785714,16.178571,26.142857,14.500000,13.428571,6.392857,3.857143,20.357143,68.678571,2003 1400,80.033333,29.533333,62.200000,6.066667,15.700000,14.900000,22.100000,14.766667,27.900000,15.633333,15.800000,5.933333,7.733333,18.400000,71.400000,2003 1163,2003,1400,2003,1163

In [86]:
training_data = pd.merge(training_data,
         teamConf,
         left_on=['Season_x', 'TeamID_x'],
         right_on=['Season', 'TeamID'])

In [87]:
training_data.head(10)

,winner,Score_x,FGM_x,FGA_x,FGM3_x,FGA3_x,FTM_x,FTA_x,OR_x,DR_x,Ast_x,TO_x,Stl_x,Blk_x,PF_x,OppScore_x,Season_TeamID_x,Score_y,FGM_y,FGA_y,FGM3_y,FGA3_y,FTM_y,FTA_y,OR_y,DR_y,Ast_y,TO_y,Stl_y,Blk_y,PF_y,OppScore_y,Season_TeamID_y,Season_x,TeamID_x,Season_y,TeamID_y,Season,TeamID,ConfAbbrev
0,1411,71.206897,24.379310,56.793103,6.482759,18.000000,15.965517,20.931034,12.275862,23.172414,13.034483,16.206897,7.068966,3.000000,19.103448,78.448276,2003 1421,72.800000,24.733333,55.266667,5.933333,18.500000,17.400000,28.066667,13.166667,24.800000,14.200000,15.233333,6.433333,2.233333,18.300000,70.833333,2003 1411,2003,1421,2003,1411,2003,1421,big_south
1,1436,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,67.793103,24.827586,55.862069,5.275862,15.482759,12.862069,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,63.137931,2003 1436,2003,1112,2003,1436,2003,1112,pac_ten
2,1211,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,77.064516,26.064516,55.451613,7.161290,19.064516,17.774194,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,68.193548,2003 1211,2003,1112,2003,1211,2003,1112,pac_ten
3,1323,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323,2003,1112,2003,1323,2003,1112,pac_ten
4,1454,77.100000,27.266667,57.633333,7.766667,21.800000,14.800000,21.433333,11.533333,23.000000,17.100000,14.866667,8.800000,3.600000,20.133333,69.933333,2003 1454,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323,2003,1454,2003,1323,2003,1454,horizon
5,1272,75.965517,27.206897,56.896552,4.000000,12.586207,17.551724,26.206897,13.689655,23.310345,15.551724,14.000000,5.206897,4.241379,19.413793,69.172414,2003 1113,74.517241,26.275862,60.000000,7.000000,20.068966,14.965517,22.896552,14.068966,25.965517,16.620690,13.793103,7.379310,5.068966,18.758621,65.827586,2003 1272,2003,1113,2003,1272,2003,1113,pac_ten
6,1166,79.344828,26.620690,52.689655,6.827586,17.931034,19.275862,25.172414,10.586207,23.275862,15.620690,18.241379,7.103448,4.000000,20.965517,73.241379,2003 1141,79.242424,28.696970,57.454545,7.969697,20.484848,13.878788,20.030303,10.878788,23.181818,16.818182,13.363636,8.393939,4.454545,17.272727,64.333333,2003 1166,2003,1141,2003,1166,2003,1141,mac
7,1301,74.482759,27.344828,58.724138,6.413793,17.034483,13.379310,19.517241,11.241379,24.379310,16.000000,14.172414,6.551724,2.793103,17.103448,69.758621,2003 1143,72.400000,24.333333,53.333333,7.966667,22.500000,15.766667,20.466667,9.733333,22.033333,14.666667,14.200000,7.766667,3.066667,18.666667,68.000000,2003 1301,2003,1143,2003,1301,2003,1143,pac_ten
8,1140,72.451613,24.032258,51.258065,6.193548,16.129032,18.193548,24.161290,10.870968,24.419355,13.419355,13.741935,6.935484,2.516129,21.419355,63.677419,2003 1140,80.033333,29.533333,62.200000,6.066667,15.700000,14.900000,22.100000,14.766667,27.900000,15.633333,15.800000,5.933333,7.733333,18.400000,71.400000,2003 1163,2003,1140,2003,1163,2003,1140,mwc
9,1163,78.857143,28.000000,62.428571,5.857143,16.785714,17.000000,23.785714,16.178571,26.142857,14.500000,13.428571,6.392857,3.857143,20.357143,68.678571,2003 1400,80.033333,29.533333,62.200000,6.066667,15.700000,14.900000,22.100000,14.766667,27.900000,15.633333,15.800000,5.933333,7.733333,18.400000,71.400000,2003 1163,2003,1400,2003,1163,2003,1400,big_twelve

In [88]:
training_data = training_data.drop(axis=1, columns=['Season','TeamID'])

In [89]:
training_data = pd.merge(training_data,
         teamConf,
         left_on=['Season_y', 'TeamID_y'],
         right_on=['Season', 'TeamID'])
training_data = training_data.drop(axis=1, columns=['Season','TeamID'])

In [94]:
training_data.head(10)

,winner,Score_x,FGM_x,FGA_x,FGM3_x,FGA3_x,FTM_x,FTA_x,OR_x,DR_x,Ast_x,TO_x,Stl_x,Blk_x,PF_x,OppScore_x,Season_TeamID_x,Score_y,FGM_y,FGA_y,FGM3_y,FGA3_y,FTM_y,FTA_y,OR_y,DR_y,Ast_y,TO_y,Stl_y,Blk_y,PF_y,OppScore_y,Season_TeamID_y,Season_x,TeamID_x,Season_y,TeamID_y,ConfAbbrev_x,ConfAbbrev_y
0,1411,71.206897,24.379310,56.793103,6.482759,18.000000,15.965517,20.931034,12.275862,23.172414,13.034483,16.206897,7.068966,3.000000,19.103448,78.448276,2003 1421,72.800000,24.733333,55.266667,5.933333,18.500000,17.400000,28.066667,13.166667,24.800000,14.200000,15.233333,6.433333,2.233333,18.300000,70.833333,2003 1411,2003,1421,2003,1411,big_south,swac
1,1436,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,67.793103,24.827586,55.862069,5.275862,15.482759,12.862069,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,63.137931,2003 1436,2003,1112,2003,1436,pac_ten,aec
2,1211,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,77.064516,26.064516,55.451613,7.161290,19.064516,17.774194,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,68.193548,2003 1211,2003,1112,2003,1211,pac_ten,wcc
3,1323,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,2003 1112,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323,2003,1112,2003,1323,pac_ten,big_east
4,1454,77.100000,27.266667,57.633333,7.766667,21.800000,14.800000,21.433333,11.533333,23.000000,17.100000,14.866667,8.800000,3.600000,20.133333,69.933333,2003 1454,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,2003 1323,2003,1454,2003,1323,horizon,big_east
5,1272,75.965517,27.206897,56.896552,4.000000,12.586207,17.551724,26.206897,13.689655,23.310345,15.551724,14.000000,5.206897,4.241379,19.413793,69.172414,2003 1113,74.517241,26.275862,60.000000,7.000000,20.068966,14.965517,22.896552,14.068966,25.965517,16.620690,13.793103,7.379310,5.068966,18.758621,65.827586,2003 1272,2003,1113,2003,1272,pac_ten,cusa
6,1166,79.344828,26.620690,52.689655,6.827586,17.931034,19.275862,25.172414,10.586207,23.275862,15.620690,18.241379,7.103448,4.000000,20.965517,73.241379,2003 1141,79.242424,28.696970,57.454545,7.969697,20.484848,13.878788,20.030303,10.878788,23.181818,16.818182,13.363636,8.393939,4.454545,17.272727,64.333333,2003 1166,2003,1141,2003,1166,mac,mvc
7,1301,74.482759,27.344828,58.724138,6.413793,17.034483,13.379310,19.517241,11.241379,24.379310,16.000000,14.172414,6.551724,2.793103,17.103448,69.758621,2003 1143,72.400000,24.333333,53.333333,7.966667,22.500000,15.766667,20.466667,9.733333,22.033333,14.666667,14.200000,7.766667,3.066667,18.666667,68.000000,2003 1301,2003,1143,2003,1301,pac_ten,acc
8,1140,72.451613,24.032258,51.258065,6.193548,16.129032,18.193548,24.161290,10.870968,24.419355,13.419355,13.741935,6.935484,2.516129,21.419355,63.677419,2003 1140,80.033333,29.533333,62.200000,6.066667,15.700000,14.900000,22.100000,14.766667,27.900000,15.633333,15.800000,5.933333,7.733333,18.400000,71.400000,2003 1163,2003,1140,2003,1163,mwc,big_east
9,1163,78.857143,28.000000,62.428571,5.857143,16.785714,17.000000,23.785714,16.178571,26.142857,14.500000,13.428571,6.392857,3.857143,20.357143,68.678571,2003 1400,80.033333,29.533333,62.200000,6.066667,15.700000,14.900000,22.100000,14.766667,27.900000,15.633333,15.800000,5.933333,7.733333,18.400000,71.400000,2003 1163,2003,1400,2003,1163,big_twelve,big_east

In [95]:
training_data.to_hdf("training_data.h5", key="df", mode='w')