In [83]:
import pandas as pd
import numpy as np
from  sklearn.preprocessing import LabelEncoder, StandardScaler


from sklearn.model_selection import  cross_val_score, cross_val_predict, train_test_split
from sklearn.metrics import r2_score, accuracy_score

from sklearn.externals import joblib

pd.options.display.max_columns = None

In [64]:
data = pd.read_hdf("training_data.h5", key="df")
seeds = pd.read_csv("../Data/DataFiles/NCAATourneySeeds.csv")

seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('W', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('X', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('Y', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('Z', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('a', ""), axis=1)
seeds['Seed'] = seeds.apply(lambda x: x['Seed'].replace('b', ""), axis=1)

data = pd.merge(data, seeds, left_on=['Season_x', 'TeamID_x'], right_on=['Season', 'TeamID'])

In [65]:
data = pd.merge(data, seeds, left_on=['Season_y', 'TeamID_y'], right_on=['Season', 'TeamID'])

In [66]:
data = data.drop(columns=['Season_x', 'Season_y', 'Season_TeamID_x', 'Season_TeamID_y'], axis=1)
data = data.loc[:,~data.columns.duplicated()]

In [67]:
# encode categorical vals - all are nominal

# team_enc = LabelEncoder()
# team_enc.fit(data['winner'])
# data['winner'] = team_enc.transform(data['winner'])
Y = data['winner']

In [68]:
# data['TeamID_x'] = team_enc.transform(data['TeamID_x'])
# data['TeamID_y'] = team_enc.transform(data['TeamID_y'])

In [69]:
conf_enc = LabelEncoder()
conf_enc.fit(data['ConfAbbrev_x'])
data['ConfAbbrev_x'] = conf_enc.transform(data['ConfAbbrev_x'])
data['ConfAbbrev_y'] = conf_enc.transform(data['ConfAbbrev_y'])

joblib.dump(conf_enc, 'conf_enc_file.joblib')

seed_enc = LabelEncoder()
seed_enc.fit(data['Seed_x'])
joblib.dump(seed_enc, 'seed_enc_file.joblib')

data['Seed_x'] = seed_enc.transform(data['Seed_x'])
data['Seed_y'] = seed_enc.transform(data['Seed_y'])
X_cat = data[['ConfAbbrev_x','ConfAbbrev_y','TeamID_x','TeamID_y','Seed_x', 'Seed_y']]
data.head()

,winner,Score_x,FGM_x,FGA_x,FGM3_x,FGA3_x,FTM_x,FTA_x,OR_x,DR_x,Ast_x,TO_x,Stl_x,Blk_x,PF_x,OppScore_x,Score_y,FGM_y,FGA_y,FGM3_y,FGA3_y,FTM_y,FTA_y,OR_y,DR_y,Ast_y,TO_y,Stl_y,Blk_y,PF_y,OppScore_y,TeamID_x,TeamID_y,ConfAbbrev_x,ConfAbbrev_y,Seed_x,Seed_y
0,1411,71.206897,24.379310,56.793103,6.482759,18.000000,15.965517,20.931034,12.275862,23.172414,13.034483,16.206897,7.068966,3.000000,19.103448,78.448276,72.800000,24.733333,55.266667,5.933333,18.500000,17.400000,28.066667,13.166667,24.800000,14.200000,15.233333,6.433333,2.233333,18.300000,70.833333,1421,1411,7,31,15,15
1,1436,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,67.793103,24.827586,55.862069,5.275862,15.482759,12.862069,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,63.137931,1112,1436,23,4,0,15
2,1211,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,77.064516,26.064516,55.451613,7.161290,19.064516,17.774194,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,68.193548,1112,1211,23,33,0,8
3,1323,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,70.250000,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,1112,1323,23,5,0,4
4,1454,77.100000,27.266667,57.633333,7.766667,21.800000,14.800000,21.433333,11.533333,23.000000,17.100000,14.866667,8.800000,3.600000,20.133333,69.933333,80.096774,27.225806,60.677419,8.290323,21.774194,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,71.193548,1454,1323,13,5,11,4

In [70]:
# scaling quantitative vals
cols = data.columns
cols_quan = cols.drop(['ConfAbbrev_x','ConfAbbrev_y','winner','TeamID_x','TeamID_y', 'Seed_x', 'Seed_y'])
cols_quan

Index(['Score_x', 'FGM_x', 'FGA_x', 'FGM3_x', 'FGA3_x', 'FTM_x', 'FTA_x',
       'OR_x', 'DR_x', 'Ast_x', 'TO_x', 'Stl_x', 'Blk_x', 'PF_x', 'OppScore_x',
       'Score_y', 'FGM_y', 'FGA_y', 'FGM3_y', 'FGA3_y', 'FTM_y', 'FTA_y',
       'OR_y', 'DR_y', 'Ast_y', 'TO_y', 'Stl_y', 'Blk_y', 'PF_y',
       'OppScore_y'],
      dtype='object')

In [71]:
scl = StandardScaler()
X_quan = data[cols_quan]

In [72]:
scl.fit(X_quan)
joblib.dump(scl, 'scl_file.joblib')

StandardScaler(copy=True, with_mean=True, with_std=True)

In [73]:
X_quan = scl.transform(X_quan)

In [74]:
cleaned = pd.DataFrame(Y)

In [75]:
cleaned = pd.concat([cleaned, pd.DataFrame(X_cat)], axis=1)
cleaned = pd.concat([cleaned, pd.DataFrame(X_quan)], axis=1)

In [76]:
cleaned.head()

,winner,ConfAbbrev_x,ConfAbbrev_y,TeamID_x,TeamID_y,Seed_x,Seed_y,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,1411,7,31,1421,1411,15,15,-0.686527,-0.928774,-0.044582,-0.251730,-0.244225,0.311191,-0.289283,0.200825,-0.875510,-0.881326,2.097575,-0.047484,-0.855828,0.779176,2.849604,-0.175064,-0.574659,-0.285205,-0.638917,-0.021411,1.146160,2.418245,0.859308,0.101768,-0.207448,1.461493,-0.367769,-1.397977,0.361476,1.294643
1,1436,23,4,1112,1436,0,15,2.040574,1.966637,2.488345,0.160979,0.416261,1.095285,1.213322,1.821558,1.586720,1.551651,1.249716,0.998559,0.081110,0.053074,1.094148,-1.158567,-0.528345,-0.114324,-1.168692,-1.057334,-1.175124,-0.719626,0.749160,0.599168,-0.203604,0.780924,-0.062611,-0.828833,-0.976047,-0.389747
2,1211,23,33,1112,1211,0,8,2.040574,1.966637,2.488345,0.160979,0.416261,1.095285,1.213322,1.821558,1.586720,1.551651,1.249716,0.998559,0.081110,0.053074,1.094148,0.662613,0.079456,-0.232125,0.350543,0.172406,1.337571,1.157374,0.185119,0.383037,0.652157,1.061144,-0.102198,-0.400829,0.553559,0.716840
3,1323,23,5,1112,1323,0,4,2.040574,1.966637,2.488345,0.160979,0.416261,1.095285,1.213322,1.821558,1.586720,1.551651,1.249716,0.998559,0.081110,0.053074,1.094148,1.258239,0.650091,1.267691,1.260291,1.102732,1.123059,0.491672,-0.115175,1.216429,1.299559,0.024136,0.357003,1.254118,-0.792817,1.373488
4,1454,13,5,1454,1323,11,4,0.460803,0.478146,0.193979,0.706538,0.967424,-0.270821,-0.103792,-0.213767,-0.970472,1.265051,1.298011,1.250237,-0.392871,1.331692,1.026342,1.258239,0.650091,1.267691,1.260291,1.102732,1.123059,0.491672,-0.115175,1.216429,1.299559,0.024136,0.357003,1.254118,-0.792817,1.373488

In [77]:
cleaned['winner'] = cleaned.apply(lambda x: 0 if x['winner'] == x['TeamID_x'] else 1, axis=1)

In [78]:
cleaned.head()

,winner,ConfAbbrev_x,ConfAbbrev_y,TeamID_x,TeamID_y,Seed_x,Seed_y,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,1,7,31,1421,1411,15,15,-0.686527,-0.928774,-0.044582,-0.251730,-0.244225,0.311191,-0.289283,0.200825,-0.875510,-0.881326,2.097575,-0.047484,-0.855828,0.779176,2.849604,-0.175064,-0.574659,-0.285205,-0.638917,-0.021411,1.146160,2.418245,0.859308,0.101768,-0.207448,1.461493,-0.367769,-1.397977,0.361476,1.294643
1,1,23,4,1112,1436,0,15,2.040574,1.966637,2.488345,0.160979,0.416261,1.095285,1.213322,1.821558,1.586720,1.551651,1.249716,0.998559,0.081110,0.053074,1.094148,-1.158567,-0.528345,-0.114324,-1.168692,-1.057334,-1.175124,-0.719626,0.749160,0.599168,-0.203604,0.780924,-0.062611,-0.828833,-0.976047,-0.389747
2,1,23,33,1112,1211,0,8,2.040574,1.966637,2.488345,0.160979,0.416261,1.095285,1.213322,1.821558,1.586720,1.551651,1.249716,0.998559,0.081110,0.053074,1.094148,0.662613,0.079456,-0.232125,0.350543,0.172406,1.337571,1.157374,0.185119,0.383037,0.652157,1.061144,-0.102198,-0.400829,0.553559,0.716840
3,1,23,5,1112,1323,0,4,2.040574,1.966637,2.488345,0.160979,0.416261,1.095285,1.213322,1.821558,1.586720,1.551651,1.249716,0.998559,0.081110,0.053074,1.094148,1.258239,0.650091,1.267691,1.260291,1.102732,1.123059,0.491672,-0.115175,1.216429,1.299559,0.024136,0.357003,1.254118,-0.792817,1.373488
4,0,13,5,1454,1323,11,4,0.460803,0.478146,0.193979,0.706538,0.967424,-0.270821,-0.103792,-0.213767,-0.970472,1.265051,1.298011,1.250237,-0.392871,1.331692,1.026342,1.258239,0.650091,1.267691,1.260291,1.102732,1.123059,0.491672,-0.115175,1.216429,1.299559,0.024136,0.357003,1.254118,-0.792817,1.373488

In [79]:
cleaned.to_hdf("processed.h5", key="df", mode='w')

/home/max/anaconda3/envs/Machine_Learning/lib/python3.6/site-packages/pandas/io/pytables.py:274: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->axis0] [items->None]

  f(store)

In [80]:
Y = cleaned['winner']
X = cleaned.drop(columns=['winner', 'TeamID_x','TeamID_y'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(
    X,
    Y,
    test_size=0.2,
    random_state=42)